<app-navbar></app-navbar>


<div id="accordion-open" data-accordion="open" class="flex flex-col px-4 pb-4 pt-12 gap-1">
    <label for="quizTitle" class="col-span-2 mb-2 text-base font-medium text-gray-900 mt-2">Quiz title:</label>
    <input (blur)="addTitle($event)" type="text" class="rounded-xl  bg-gray-50 border text-gray-900 focus:ring-blue-500 focus:border-blue-500 min-w-0 w-full text-sm border-gray-300 p-2.5" placeholder="Title">
    @for(elem of quizProcessorService.questionsArray; track elem; let id = $index){
        <app-collapsible-panel [questionNumber]="id"></app-collapsible-panel>
    }  
    <button type="button" (click)="quizProcessorService.addQuestion()" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-2 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 max-w-32">Add</button>
    <button type="button" (click)="quizProcessorService.finishQuiz()" class="focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 max-w-32">Finish</button>
</div>