<app-navbar></app-navbar>


<div id="accordion-open" data-accordion="open" class="flex flex-col px-4 pb-4 pt-12 gap-1">
  <mat-form-field class="w-full">
    <mat-label>Quiz title</mat-label>
    <input matInput (blur)="addTitle($event)">
  </mat-form-field>

  @for(elem of quizProcessorService.questionsArray; track elem; let id = $index){
        <app-collapsible-panel [questionNumber]="id"></app-collapsible-panel>
    }

  <button mat-stroked-button color="accent" (click)="quizProcessorService.addQuestion()" class="font-medium text-sm px-5 py-2.5 me-2 max-w-32">Add</button>
  <button mat-raised-button color="primary" (click)="quizProcessorService.finishQuiz()" [routerLink]="'/app-modes-page'" class="font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 max-w-32">Finish</button>
</div>
